<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.leelah.android"
  android:versionCode="1"
  android:versionName="0.1"
  android:installLocation="auto"
>

  <uses-sdk 
    android:minSdkVersion="11"
    android:targetSdkVersion="11"
  />

  <uses-feature
    android:name="android.hardware.touchscreen"
    android:required="true"
  />
  
  <supports-screens
    android:smallScreens="false"
    android:normalScreens="false"
    android:largeScreens="true"
    android:xlargeScreens="true"
  />
  
  <!-- We need this permission, in order to access to Internet -->
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- We need this permission, because we write on the SD card -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!-- We need this permission, when geolocalizing -->
  <!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission  android:name="android.permission.ACCESS_FINE_LOCATION"/-->

  <application
    android:name="LeelahSystemApplication"
    android:icon="@drawable/icon"
    android:logo="@drawable/logo_actionbar"
    android:label="@string/applicationName"
    android:description="@string/applicationDescription"
    android:theme="@style/Theme.LeelahSystem.NoTitle"
    android:hardwareAccelerated="true"
  >

    <!-- This is required in order to have Google Maps work at runtime! -->
    <!--uses-library android:name="com.google.android.maps"/-->

    <activity
      android:name=".LeelahSystemSplashScreenActivity"
      android:configChanges="keyboardHidden|orientation"
      android:alwaysRetainTaskState="true"
      android:excludeFromRecents="true"
      android:multiprocess="true"
    />

    <activity
      android:name=".MainActivity"
      android:configChanges="keyboardHidden|orientation"
      android:windowSoftInputMode="stateAlwaysHidden"
    >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".SettingsActivity"
      android:configChanges="keyboardHidden|orientation"
    >
      <intent-filter>
        <category android:name="android.intent.category.PREFERENCE"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".AboutActivity"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".OrdersActivity"
      android:configChanges="keyboardHidden|orientation"
    />
    
    <activity
      android:name=".phone.ProductsActivity"
      android:configChanges="keyboardHidden|orientation"
    />
    
    <activity
      android:name=".LoginActivity"
      android:configChanges="keyboardHidden|orientation"
    />
    
    <activity
      android:name=".CaisseActivity"
      android:configChanges="keyboardHidden|orientation"
    />

    <activity
      android:name=".UsersActivity"
      android:configChanges="keyboardHidden|orientation"
    />
    
    <activity
      android:name=".StatisticsActivity"
      android:configChanges="keyboardHidden|orientation"
    />
    
    <!-- PAYPAL API -->
    <activity 
      android:name="com.paypal.android.MEP.PayPalActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:configChanges="keyboardHidden|orientation"
    />
    
  </application>

</manifest>
